//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.6.02Beta
//Part Number: GW2A-LV18PG484C8/I7
//Created Time: Sat 11 14 18:22:12 2020

IO_LOC "tmds_clk_p" A2,A3;
IO_LOC "tmds_data_p[0]" B6,A6;
IO_LOC "tmds_data_p[1]" A9,A10;
IO_LOC "tmds_data_p[2]" A11,A12;
IO_LOC "ddr3_ba[2]" F3;
IO_PORT "ddr3_ba[2]" IO_TYPE=SSTL15;
IO_LOC "ddr3_ba[1]" T4;
IO_PORT "ddr3_ba[1]" IO_TYPE=SSTL15;
IO_LOC "ddr3_ba[0]" F4;
IO_PORT "ddr3_ba[0]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[13]" AA1;
IO_PORT "ddr3_addr[13]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[12]" T5;
IO_PORT "ddr3_addr[12]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[11]" Y21;
IO_PORT "ddr3_addr[11]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[10]" P5;
IO_PORT "ddr3_addr[10]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[9]" H4;
IO_PORT "ddr3_addr[9]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[8]" AB22;
IO_PORT "ddr3_addr[8]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[7]" H5;
IO_PORT "ddr3_addr[7]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[6]" Y22;
IO_PORT "ddr3_addr[6]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[5]" F2;
IO_PORT "ddr3_addr[5]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[4]" V3;
IO_PORT "ddr3_addr[4]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[3]" E5;
IO_PORT "ddr3_addr[3]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[2]" G6;
IO_PORT "ddr3_addr[2]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[1]" V5;
IO_PORT "ddr3_addr[1]" IO_TYPE=SSTL15;
IO_LOC "ddr3_addr[0]" F1;
IO_PORT "ddr3_addr[0]" IO_TYPE=SSTL15;
IO_LOC "ddr3_odt[0]" B3;
IO_PORT "ddr3_odt[0]" IO_TYPE=SSTL15;
IO_LOC "ddr3_cke[0]" E4;
IO_PORT "ddr3_cke[0]" IO_TYPE=SSTL15;
IO_LOC "ddr3_we_n" C2;
IO_PORT "ddr3_we_n" IO_TYPE=SSTL15;
IO_LOC "ddr3_cas_n" D3;
IO_PORT "ddr3_cas_n" IO_TYPE=SSTL15;
IO_LOC "ddr3_ras_n" D1;
IO_PORT "ddr3_ras_n" IO_TYPE=SSTL15;
IO_LOC "ddr3_reset_n" V4;
IO_PORT "ddr3_reset_n" IO_TYPE=SSTL15;
IO_LOC "ddr3_ck_p[0]" P22,R22;
IO_PORT "ddr3_ck_p[0]" IO_TYPE=SSTL15D;
IO_LOC "ddr3_dm[1]" K4;
IO_PORT "ddr3_dm[1]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dm[0]" P3;
IO_PORT "ddr3_dm[0]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[15]" H2;
IO_PORT "ddr3_dq[15]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[14]" M2;
IO_PORT "ddr3_dq[14]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[13]" H3;
IO_PORT "ddr3_dq[13]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[12]" K5;
IO_PORT "ddr3_dq[12]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[11]" J1;
IO_PORT "ddr3_dq[11]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[10]" P1;
IO_PORT "ddr3_dq[10]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[9]" K3;
IO_PORT "ddr3_dq[9]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[8]" R1;
IO_PORT "ddr3_dq[8]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[7]" V1;
IO_PORT "ddr3_dq[7]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[6]" N4;
IO_PORT "ddr3_dq[6]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[5]" U1;
IO_PORT "ddr3_dq[5]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[4]" Y1;
IO_PORT "ddr3_dq[4]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[3]" T2;
IO_PORT "ddr3_dq[3]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[2]" M4;
IO_PORT "ddr3_dq[2]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[1]" T3;
IO_PORT "ddr3_dq[1]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dq[0]" M5;
IO_PORT "ddr3_dq[0]" IO_TYPE=SSTL15;
IO_LOC "ddr3_dqs_p[1]" L2,L1;
IO_PORT "ddr3_dqs_p[1]" IO_TYPE=SSTL15D;
IO_LOC "ddr3_dqs_p[0]" P4,R4;
IO_PORT "ddr3_dqs_p[0]" IO_TYPE=SSTL15D;
IO_PORT "ddr3_cs_n[0]" IO_TYPE=SSTL15;
IO_LOC "cam_scl_4" W18;
IO_PORT "cam_scl_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_sgm_ctrl_4" E22;
IO_PORT "cam_sgm_ctrl_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_rst_n_4" V17;
IO_PORT "cam_rst_n_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_scl_3" L19;
IO_PORT "cam_scl_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_sgm_ctrl_3" Y20;
IO_PORT "cam_sgm_ctrl_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_rst_n_3" W14;
IO_PORT "cam_rst_n_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_scl_2" AB1;
IO_PORT "cam_scl_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_sgm_ctrl_2" Y6;
IO_PORT "cam_sgm_ctrl_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_rst_n_2" AB7;
IO_PORT "cam_rst_n_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_scl_1" AB13;
IO_PORT "cam_scl_1" IO_TYPE=LVCMOS33;
IO_LOC "cam_sgm_ctrl_1" L22;
IO_PORT "cam_sgm_ctrl_1" IO_TYPE=LVCMOS33;
IO_LOC "cam_rst_n_1" AA16;
IO_PORT "cam_rst_n_1" IO_TYPE=LVCMOS33;
IO_LOC "cam_sda_4" V19;
IO_PORT "cam_sda_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_sda_3" W13;
IO_PORT "cam_sda_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_sda_2" AB5;
IO_PORT "cam_sda_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_sda_1" AB15;
IO_PORT "cam_sda_1" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[7]" G22;
IO_PORT "cam_data_4[7]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[6]" H22;
IO_PORT "cam_data_4[6]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[5]" J22;
IO_PORT "cam_data_4[5]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[4]" V15;
IO_PORT "cam_data_4[4]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[3]" V14;
IO_PORT "cam_data_4[3]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[2]" U16;
IO_PORT "cam_data_4[2]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[1]" V16;
IO_PORT "cam_data_4[1]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_4[0]" V18;
IO_PORT "cam_data_4[0]" IO_TYPE=LVCMOS33;
IO_LOC "cam_href_4" W19;
IO_PORT "cam_href_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_vsync_4" W17;
IO_PORT "cam_vsync_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_pclk_4" G21;
IO_PORT "cam_pclk_4" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[7]" Y19;
IO_PORT "cam_data_3[7]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[6]" Y17;
IO_PORT "cam_data_3[6]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[5]" AA17;
IO_PORT "cam_data_3[5]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[4]" W16;
IO_PORT "cam_data_3[4]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[3]" Y16;
IO_PORT "cam_data_3[3]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[2]" Y15;
IO_PORT "cam_data_3[2]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[1]" Y14;
IO_PORT "cam_data_3[1]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_3[0]" W15;
IO_PORT "cam_data_3[0]" IO_TYPE=LVCMOS33;
IO_LOC "cam_href_3" W12;
IO_PORT "cam_href_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_vsync_3" K19;
IO_PORT "cam_vsync_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_pclk_3" Y18;
IO_PORT "cam_pclk_3" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[7]" AA3;
IO_PORT "cam_data_2[7]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[6]" Y4;
IO_PORT "cam_data_2[6]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[5]" Y5;
IO_PORT "cam_data_2[5]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[4]" V6;
IO_PORT "cam_data_2[4]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[3]" V7;
IO_PORT "cam_data_2[3]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[2]" AA8;
IO_PORT "cam_data_2[2]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[1]" AB8;
IO_PORT "cam_data_2[1]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_2[0]" AA7;
IO_PORT "cam_data_2[0]" IO_TYPE=LVCMOS33;
IO_LOC "cam_href_2" AB6;
IO_PORT "cam_href_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_vsync_2" AB2;
IO_PORT "cam_vsync_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_pclk_2" Y3;
IO_PORT "cam_pclk_2" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[7]" Y13;
IO_PORT "cam_data_1[7]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[6]" V12;
IO_PORT "cam_data_1[6]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[5]" V13;
IO_PORT "cam_data_1[5]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[4]" AB19;
IO_PORT "cam_data_1[4]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[3]" AB20;
IO_PORT "cam_data_1[3]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[2]" AB17;
IO_PORT "cam_data_1[2]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[1]" AB18;
IO_PORT "cam_data_1[1]" IO_TYPE=LVCMOS33;
IO_LOC "cam_data_1[0]" AB16;
IO_PORT "cam_data_1[0]" IO_TYPE=LVCMOS33;
IO_LOC "cam_href_1" AA15;
IO_PORT "cam_href_1" IO_TYPE=LVCMOS33;
IO_LOC "cam_vsync_1" AB14;
IO_PORT "cam_vsync_1" IO_TYPE=LVCMOS33;
IO_LOC "cam_pclk_1" Y12;
IO_PORT "cam_pclk_1" IO_TYPE=LVCMOS33;
IO_LOC "sys_rst_n" AB3;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33;
IO_LOC "sys_clk" M19;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33;
